/* .img-bg{
    margin:0;
    border-radius: 2em;
} */
body{
    background-color: #F0F0F0;
}
 .txt-1{
    border-radius: 2em;
    margin-right: -10%;
    z-index: 1;
    color: white;
    padding:1em 0em;

    
}
.intro{
    background-color:#A8D410;
    padding:0 1em;
    margin: auto;
    border-radius: 2em;
    /* height: 300px; */
}
.img_con{
    background: url('./Images/intro_flower.png');
    background-size:cover;
    
    

} 

.intro{
    display: flex;
    background: yellowgreen;
    width:80%;
    margin:auto;
    justify-content: space-around;
}
/* .intro_left{
    margin-right: 30%;


} */


aside 
{
 background-color: #E3E3E3;  
}

aside section
{
    margin: 22px 0 0 22px;
    padding: 11px 22px;
    background: url("images/sidebar_section_background.png") repeat-x;
    border-radius: 11px;
}

aside section ul
{
    margin: 0 0 0 11px;
    list-style: none;
}

aside section ul li a
{
    display: block;
    text-decoration: none;
    color: #000;
}

aside section ul li a:hover
{
    text-decoration: underline;
}


       /------------------------------INTRODUCTION------------------------------/
        
       #intro
       {
           position: relative;
           margin-top: 66px;
           padding: 44px;
           background: #467612 url("images/intro_background.png") repeat-x;
           background-size: 100%;
           border-radius: 22px;
       }
       
       #intro h2, #intro p
       {
           position: relative;
           z-index: 9999;
           width: 336px;
       }
       
       #intro h2
       {
           padding: 0 0 22px 0;
           font-weight: normal;
           color: #fff;
       }
       
       #intro p
       {
           padding: 0;
           color: #d9f499;
       }
       
       #intro img
       {
           position: absolute;
           top: 0;
           right: 0;
           width: 653px;
           height: 100%;
           border-radius: 22px;
       }
       

    a {
        color: #89919e;
        text-decoration: none;
    }


    #comments {
        margin-top: 21px;
        padding-top: 22px;
        border-top: 1px solid #d7d7d7;
      }

@media (max-width:990px){
    aside{
        display: none;
    }
}